.tmbw-overview-hero {}

.tmbw-overview-hero-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tmbw-overview-hero-slider {
  width: 80vw;
}

.tmbw-overview-hero-title {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
}

.tmbw-overview-hero-title-inner {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.tmbw-overview-hero-box {
  background: white;
  width: 400px;
  padding: 48px 36px 24px 0;
  text-align: left;
  border-radius: 10px;
}

.tmbw-overview-hero-subline {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #042D53;
  margin: 0;
  margin-bottom: 8px;
}

.tmbw-overview-hero-headline {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  color: #231F1D;
  margin: 0;
  margin-bottom: 24px;
}

.tmbw-overview-hero-body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #231F1D;
}

.tmbw-overview-hero .tmbw-surprise-me {
  background: none;
  color: #231F1D;
  border: none;
  font-weight: normal;
  font-size: 12px;
  opacity: 0.5;
  margin-top: 36px;
  margin-bottom: 0;
}

/* slick config */

#root .App .slick-slider {
  height: 650px;
  overflow-x: hidden;
  overflow-y: visible;
}

#root .App .slick-list {
  overflow: visible;
}

#root .App .slick-slide {
  height: 650px;
  width: 77vw !important;
  margin-right: 1vw;
  background: url('http://placeimg.com/1600/900/nature');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root .App .slick-dots {
  bottom: 12px;
  z-index: 2;
}

#root .App .slick-next {
  right: 1vw;
  z-index: 2;
}

#root .App .slick-prev {
  left: 12px;
}

.tmbw-overview-hero-slide {}

.tmbw-hero-slider-arrow {
  background: white;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tmbw-hero-slider-arrow svg {
  transition: all 300ms ease-in-out;
}

.tmbw-hero-slider-arrow.tmbw-hero-slider-arrow-invert svg {
  transform: rotate(180deg);
}

.tmbw-hero-slider-arrow:hover {
  background: white;
}

.tmbw-hero-slider-arrow:before {
  display: none;
}

/* Large devices (desktops, 1200px and up) */
/* default */

/* Medium devices (landscape phones & tablets, 768px and up) */
@media screen and (max-width: 992px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .tmbw-overview-hero-slider {
    margin-top: 2.5vw;
    width: 95vw;
  }

  .tmbw-overview-hero-inner {
    flex-flow: column nowrap;
    padding-bottom: 36px;
  }

  #root .App .slick-slider {
    height: 30vh;
  }

  #root .App .slick-slide {
    height: 30vh;
    width: 91.4375vw !important;
    margin-right: 1.1875vw;
    border-radius: 5px;
  }

  #root .App .slick-next {
    right: 0;
    z-index: 2;
  }

  .tmbw-hero-slider-arrow {
    background: white;
    border-radius: 100%;
    height: 6vw;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tmbw-hero-slider-arrow svg {
    height: 14px;
    margin-right: -2px;
  }

  .tmbw-overview-hero-title {
    position: relative;
    top: 24px;
  }

  .tmbw-overview-hero-box {
    padding: 0;
    width: 100%;
  }

  .tmbw-overview-hero-subline {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .tmbw-overview-hero-headline {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  .tmbw-overview-hero-body {
    margin-bottom: 24px;
  }

  .tmbw-overview-hero .tmbw-surprise-me {
    text-align: left;
    padding-left: 24px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
