#root .tmbw-overview-result {
  width: calc(33% - 12px);
  margin-bottom: 48px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  box-sizing: initial;
}

#root .tmbw-overview-result:hover {
  opacity: 0.9;
}

#root .tmbw-overview-result:nth-of-type(3n+1) {
  padding-left: 0;
  padding-right: 12px;
}

#root .tmbw-overview-result:nth-of-type(3n+2) {
  padding-left: 12px;
  padding-right: 12px;
}

#root .tmbw-overview-result:nth-of-type(3n+3) {
  padding-left: 12px;
  padding-right: 0;
}

#root .tmbw-overview-result-image {
  height: 175px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 5px;
  background: #f7f7f7;
}

#root .tmbw-overview-result-info {
  text-align: left;
}

#root .tmbw-overview-result-subline {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #042D53;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 6px;
}

#root .tmbw-result-type {
  text-transform: uppercase;
}

#root .tmbw-overview-result-headline {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #231F1D;
  margin: 0;
  margin-bottom: 12px;
}

#root .tmbw-overview-result-body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #231F1D;
}

#root .tmbw-overview-result-body p {
  margin: 0;
}

/* Large devices (desktops, 1200px and up) */
/* default */

/* Medium devices (landscape phones & tablets, 768px and up) */
@media screen and (max-width: 992px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  #root .tmbw-overview-result {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  #root .tmbw-overview-result-image {
    height: 200px;
  }
}
