#root .tmbw-overview-filters {
  background: #F7F7F7;
  border: 1px solid #EEEEEE;
}

#root .tmbw-overview-filters-inner {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row nowrap;
}

#root .tmbw-overview-filter {
  flex: 1;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

#root .tmbw-overview-filter:first-of-type {
  padding-left: 0;
}

#root .tmbw-overview-filter:last-of-type {
  padding-right: 0;
}

#root .tmbw-overview-filter-label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #231F1D;
  margin-bottom: 6px;
}

#root .tmbw-surprise-me {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FDC300;
  border: 1px solid #F1BA02;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2px;
  cursor: pointer;
}

#root .App .tmbw-select__container {
  padding: 0;
}

#root .App .tmbw-select__menu {
  background: white;
}

#root .App .tmbw-select__indicator-separator {
  display: none;
}

#root .App .tmbw-select__single-value {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #231F1D;
}

#root .App .tmbw-select__option {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  color: #231F1D;
}

#root .App .tmbw-select__placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

#root .App .tmbw-select__control {
  outline: none;
  box-shadow: none;
  border: 1px solid #EEEEEE;
  padding: 8px 12px;
  background: white;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  cursor: pointer;
}

#root .App .tmbw-select__indicator svg {
  color: black !important;
}

/* Large devices (desktops, 1200px and up) */
/* default */

/* Medium devices (landscape phones & tablets, 768px and up) */
@media screen and (max-width: 992px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  #root .tmbw-overview-filters-inner {
    padding: 12px 0;
    max-width: 100%;
    flex-flow: row wrap;
  }

  #root .tmbw-overview-filter {
    width: 50%;
    min-width: 40vw;
    margin-bottom: 12px;
  }

  .tmbw-overview-filter:nth-of-type(2n),
  #root .tmbw-overview-filter:nth-of-type(2n+3) {
    padding-left: 0;
  }

  .tmbw-overview-filter:nth-of-type(2n+2),
  #root .tmbw-overview-filter:nth-of-type(2n+4) {
    padding-right: 0;
  }

  #root .tmbw-overview-filter:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }

  #root .App .tmbw-select__single-value {
    font-size: 13px;
    line-height: 150%;
    color: #231F1D;
  }

  #root .App .tmbw-select__option {
    font-size: 13px;
    line-height: 150%;
    color: #231F1D;
  }

  #root .App .tmbw-select__placeholder {
    font-size: 13px;
    line-height: 150%;
  }

  #root .App .tmbw-select__indicator {
    padding-left: 0;
    padding-right: 0;
  }

  #root .App .tmbw-select__indicator svg {
    height: 16px;
  }
}
