.tmbw-overview-filters {
  background: #F7F7F7;
  border: 1px solid #EEEEEE;
}

.tmbw-overview-filters-inner {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.tmbw-overview-filter {
  flex: 1;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

.tmbw-overview-filter:first-of-type {
  padding-left: 0;
}

.tmbw-overview-filter:last-of-type {
  padding-right: 0;
}

.tmbw-overview-filter-label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #231F1D;
  margin-bottom: 6px;
}

.tmbw-overview-filter-drodown {

}

.tmbw-surprise-me {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FDC300;
  border: 1px solid #F1BA02;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2px;
}

.tmbw-select__control {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #EEEEEE !important;
}

#root .App .tmbw-select__indicator svg {
  color: black !important;
}
