#root .tmbw-overview-results {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

#root .tmbw-overview-results-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
}

/* Large devices (desktops, 1200px and up) */
/* default */

/* Medium devices (landscape phones & tablets, 768px and up) */
@media screen and (max-width: 992px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
}
