.tmbw-overview-results {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

.tmbw-overview-results-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
}
