#root .tmbw-offer-meta {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

#root .tmbw-offer-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

#root .tmbw-offer-cta-primary {
  text-decoration: none;
  margin-right: 24px;
  background: #FDC300;
  border: 1px solid #F1BA02;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 24px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#root .tmbw-offer-cta-container {
  position: relative;
}

#root .tmbw-offer-cta-secondary,
#root .tmbw-offer-cta-tertiary {
  text-decoration: none;
  margin-right: 24px;
  background: #FFFFFF;
  border: 1px solid #E8E1DE;
  padding: 10px 24px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #231F1D;
  cursor: pointer;
  position: relative;
}

#root .tmbw-offer-cta-tertiary {
  border: 1px solid rgba(232, 225, 222, 0);
  transition: all 300ms ease;
  /* padding: 14px 0; */
}

#root .tmbw-offer-cta-tertiary:hover {
  border: 1px solid rgba(232, 225, 222, 1);
}

.tmbw-offer-cta-secondary svg,
#root .tmbw-offer-cta-tertiary svg {
  margin-right: 6px;
}

#root .tmbw-offer-sponsor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 36px;
}

#root .tmbw-offer-sponsor-logo {
  margin-right: 16px;
}

#root .tmbw-offer-sponsor-note {
  text-align: left;
  text-decoration: none;
}

#root .tmbw-offer-sponsor-note-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #231F1D;
}

#root .tmbw-offer-sponsor-name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #231F1D;
}

#root .tmbw-sharing-widget {
  position: absolute;
  top: 130%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 12;
  padding: 18px;
  border-radius: 5px;
}

#root .tmbw-sharing-widget-inner {

}

#root .tmbw-sharing-widget-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

#root .tmbw-sharing-widget-icons a {
  margin-right: 12px;
  color: #222;
}

#root .tmbw-sharing-widget-icons svg {
  height: 24px;
  width: auto;
  transition: all 300ms ease;
}

#root .tmbw-sharing-widget-icons svg:hover {
  color: #FDC300;
}

#root .tmbw-sharing-widget-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 12px;
}

#root .tmbw-sharing-widget-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  width: 120px;
  height: 100%;
  background: #f7f7f7;
  margin: 0;
  padding: 12px 12px 12px 0;
  border: 1px solid #eee;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: all 300ms ease;
}

#root .tmbw-sharing-widget-link-button--success {
  color: green;
}

#root .tmbw-sharing-widget-link-button svg {
  margin-right: 6px;
}

#root .tmbw-sharing-widget-link .tmbw-sharing-widget-link-box {
  background: #f7f7f7;
  padding: 12px;
  width: 150px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid #eee;
  border-right: none;
  color: #C3B8A8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Large devices (desktops, 1200px and up) */
/* default */

/* Medium devices (landscape phones & tablets, 768px and up) */
@media screen and (max-width: 992px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  #root .tmbw-offer-meta {
    margin-top: 0;
  }

  #root .tmbw-offer-cta-primary,
  #root .tmbw-offer-cta-secondary,
  #root .tmbw-offer-cta-tertiary {
    margin-right: 12px;
    padding: 10px;
    font-size: 12px;
  }

  #root .tmbw-offer-cta-secondary {
    margin-right: 0;
  }

  #root .tmbw-offer-sponsor {
    margin-top: 24px;
  }

  #root .tmbw-offer-sponsor-logo {
    margin-right: 8px;
    height: 40px;
  }

  #root .tmbw-offer-sponsor-note-title,
  #root .tmbw-offer-sponsor-name {
    font-size: 14px;
    line-height: 20px;
  }

  #root .tmbw-sharing-widget {
    left: -24px;
  }

  #root .tmbw-sharing-widget-link .tmbw-sharing-widget-link-box {
    width: 100px;
  }
}
